@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  top: 0;
  margin: 0;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#0166ac), color-stop(48.75%, #0191f6), to(#4db2f9));
  background: linear-gradient(180deg, #0166ac 0%, #0191f6 48.75%, #4db2f9 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33.33vw)[3];
      grid-template-columns: repeat(3, 33.33vw);
  -ms-grid-rows: 10vh;
      grid-template-rows: 10vh;
  width: 100vw;
  height: 10vh;
  position: relative;
}

header > div {
  color: #ffffff;
  font-size: 16px;
}

header > div > details[open] {
  background: rgba(1, 102, 172, 0.7);
  -webkit-box-shadow: 9px 3px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 3px 10px 0px rgba(0, 0, 0, 0.75);
  overflow-y: auto;
  z-index: 100;
  height: 100vh;
}

header > div > details[open] details {
  text-align: justify;
  display: inline-block;
  font-size: .7em;
  height: 100%;
  width: 90%;
  padding: 0 1em;
}

header > div > details[open] details summary {
  text-align: center;
  display: inline-block;
  height: auto;
  word-wrap: break-word;
}

header > div > details {
  height: 5vh;
  width: 100%;
  z-index: -1;
}

header > div > details summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 10vh;
}

header > div > details summary span {
  background: #777774;
  margin: 0 1em;
  border-radius: 1em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-right: 0.8em;
  padding-left: 0.8em;
  text-align: center;
  font-weight: bold;
}

header > div > details > p {
  padding: 0 1em;
  font-size: 0.7em;
  text-align: justify;
  word-wrap: break-word;
}

header > div > details > p .amarillo {
  color: yellow;
}

header > div > details > p .azul {
  color: #a8daf4;
}

#saludo {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#cerrar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#cerrar a {
  text-decoration: none;
  color: white;
  margin: 1rem 1rem;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60vw 40vw;
      grid-template-columns: 60vw 40vw;
  -ms-grid-rows: 90vh;
      grid-template-rows: 90vh;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.publicacion-noticias, .acciones .publicacion .publicacion-eventos, .revision .revision-noticias, .revision .revision-eventos {
  padding: 1rem;
}

.publicacion-noticias .autor, .acciones .publicacion .publicacion-eventos .autor, .revision .revision-noticias .autor, .revision .revision-eventos .autor {
  color: blue;
}

.publicacion-noticias .categoria, .acciones .publicacion .publicacion-eventos .categoria, .revision .revision-noticias .categoria, .revision .revision-eventos .categoria {
  color: red;
}

.publicacion-noticias .contenido, .acciones .publicacion .publicacion-eventos .contenido, .revision .revision-noticias .contenido, .revision .revision-eventos .contenido {
  color: black;
}

.publicacion-noticias .datos-publicacion, .acciones .publicacion .publicacion-eventos .datos-publicacion, .revision .revision-noticias .datos-publicacion, .revision .revision-eventos .datos-publicacion {
  padding: 1rem;
}

.publicacion-noticias .datos-publicacion > p, .acciones .publicacion .publicacion-eventos .datos-publicacion > p, .revision .revision-noticias .datos-publicacion > p, .revision .revision-eventos .datos-publicacion > p {
  text-align: justify;
}

.publicacion-noticias .datos-publicacion > p a, .acciones .publicacion .publicacion-eventos .datos-publicacion > p a, .revision .revision-noticias .datos-publicacion > p a, .revision .revision-eventos .datos-publicacion > p a {
  float: right;
}

.acciones {
  width: 90%;
  height: 95%;
  background: white;
  border-radius: 30pt;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20% 80%;
      grid-template-rows: 20% 80%;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  font-size: 0.9em;
  color: black;
  overflow-y: auto;
}

.acciones .main-actions {
  text-align: center;
}

.acciones .main-actions #acciones-titulo {
  margin-top: 0.5rem;
}

.acciones .main-actions .botones {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.acciones .main-actions .botones button {
  height: 100%;
  width: 40%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #4caf50;
  border-radius: 30pt;
  padding: 0.5rem 1rem;
  border-style: none;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  color: white;
  border: 2pt solid #4caf50;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.acciones .main-actions .botones button:hover {
  color: black;
  background: white;
  border: 2pt solid #4caf50;
  cursor: pointer;
}

.acciones .publicacion {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1rem (1fr)[2];
      grid-template-rows: 1rem repeat(2, 1fr);
}

.acciones .publicacion .titulo {
  text-align: center;
}

.revision {
  width: 90%;
  height: 95%;
  background: white;
  border-radius: 30pt;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  overflow-y: auto;
}

.revision .revision-noticias, .revision .revision-eventos {
  padding: 0.2rem;
  font-size: 0.7rem;
}

.revision .revision-noticias .titulo, .revision .revision-eventos .titulo {
  text-align: center;
  margin-top: 0.5em;
}

@media screen and (max-width: 768px) {
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100vw;
        grid-template-columns: 100vw;
    -ms-grid-rows: 100vh 100vh;
        grid-template-rows: 100vh 100vh;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10vh;
  }
  header {
    color: #ffffff;
    -ms-grid-columns: 50vw 50vw;
        grid-template-columns: 50vw 50vw;
    -ms-grid-rows: 10vh 10vh;
        grid-template-rows: 10vh 10vh;
        grid-template-areas: "saludo cerrar" "notificaciones notificaciones";
  }
  header div {
    font-size: 12px;
    text-align: center;
  }
  header details[open] {
    height: 90vh !important;
  }
  #saludo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: saludo;
  }
  #cerrar {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: cerrar;
  }
  #notificaciones {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: notificaciones;
    text-align: center;
    margin: auto;
  }
  .acciones {
    font-size: 0.7em;
  }
}
/*# sourceMappingURL=estilosTablero.css.map */