@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
:root {
  font-size: 12pt;
}

::-webkit-scrollbar {
  display: none;
}

* {
  font-family: Tahoma, "Segoe UI", Geneva, Verdana, sans-serif;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  color: black;
}

.button {
  padding: .4rem .8rem;
  background: #0191F6;
  color: white;
  line-height: 2.5rem;
  text-align: center;
  font-weight: bold;
  -webkit-transition: .2s;
  transition: .2s;
}

.button:hover {
  color: white;
  background: #0166AC;
  text-decoration: none;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #333;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: 10vh 90vh 90vh 10vh;
      grid-template-rows: 10vh 90vh 90vh 10vh;
      grid-template-areas: "nav nav nav nav nav nav nav nav nav nav" "calendario calendario calendario calendario calendario calendario calendario calendario calendario calendario" "noticias noticias noticias noticias noticias noticias noticias noticias noticias noticias" "footer footer footer footer footer footer footer footer footer footer";
}

.phone-header {
  display: none;
}

.phone-footer {
  display: none;
}

.contenedorHeader {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-area: nav;
  background: #0191F6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 40% 10%;
      grid-template-columns: 25% 25% 40% 10%;
  max-width: 100vw;
}

.contenedorHeader .menu-item {
  height: 10vh;
}

.contenedorHeader #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedorHeader #logo img {
  margin: 0 1em;
  height: 100%;
  cursor: pointer;
}

.contenedorHeader #logo span {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.contenedorHeader .redes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.contenedorHeader .redes-container img {
  height: 2.7em;
  width: 2.7em;
  margin: 0 0.5em;
}

.contenedorHeader #logoJuventud {
  -ms-grid-column-align: end;
      justify-self: end;
}

.contenedorHeader #logoJuventud img {
  height: 100%;
}

.contenedorHeader #categorias {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.contenedorHeader #categorias div {
  border-bottom: 0.5rem solid;
  position: relative;
  width: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.contenedorHeader #categorias div a {
  display: inline;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
}

.contenedorHeader #categorias div:nth-child(1) {
  border-bottom-color: #0166AC;
}

.contenedorHeader #categorias div:nth-child(2) {
  border-bottom-color: #45B2B2;
}

.contenedorHeader #categorias div:nth-child(3) {
  border-bottom-color: #FFBD39;
}

.contenedorHeader #categorias div:nth-child(4) {
  border-bottom-color: #FF693B;
}

.contenedorHeader #categorias div:hover {
  background: rgba(255, 255, 255, 0.2);
}

.contenedorCalendario {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-area: calendario;
  position: relative;
  padding: 0.8rem;
  background-color: #333;
  background-repeat: no-repeat;
  background-size: 100%;
  background-blend-mode: darken;
  z-index: 1;
}

.contenedorCalendario #calendario {
  z-index: 2;
}

.contenedorCalendario #calendario h2 {
  color: white;
}

.contenedorCalendario #calendario h2:first-letter {
  text-transform: uppercase;
}

.contenedorCalendario #calendario .fc-view-container {
  background: white;
}

.header-noticias {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 90% 5%;
      grid-template-columns: 5% 90% 5%;
}

.contenedorNoticias {
  position: relative;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-area: noticias;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2rem;
}

.contenedorNoticias .noticia {
  height: 22.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: .5rem;
}

.contenedorNoticias .noticia .imagen-noticia {
  background: #bdbdbd;
  width: 30%;
}

.contenedorNoticias .noticia .informacion-noticia {
  padding: 1rem;
  background: #f2f2f2;
  width: 70%;
  height: 100%;
  position: relative;
}

.contenedorNoticias .noticia .informacion-noticia .contenido-noticia {
  overflow: hidden;
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5rem;
}

.contenedorNoticias .noticia .informacion-noticia a {
  color: blue;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  margin: 0 1rem;
  background: #f2f2f2;
  font-size: 0.7rem;
}

.contenedorNoticias:hover::-webkit-scrollbar {
  display: initial;
  background: rgba(79, 79, 79, 0.7);
}

.contenedorNoticias::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #00d2ff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#00d2ff), to(#3a7bd5));
  background-image: linear-gradient(to top, #00d2ff 0%, #3a7bd5 100%);
}

.contenedorNoticias::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.contenedorNoticias::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

.contenedorFooter {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-area: footer;
  background: #0191F6;
}

.ir-arriba {
  display: none;
  padding: .5rem;
  background: #0166AC;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 101;
}

.ir-abajo {
  padding: .5rem;
  background: #0166AC;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  z-index: 101;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 760px) {
  .contenedorHeader #logo img {
    margin: 0 1em;
    height: 85%;
  }
  .contenedorHeader .redes-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .contenedorHeader .redes-container img {
    height: 2.2em;
    width: 2.2em;
    margin: 0 .5em;
  }
}

@media screen and (max-width: 665px) {
  .contenedorHeader #logo-nombre {
    display: none;
  }
}

@media screen and (max-width: 620px) {
  .contenedorHeader {
    -ms-grid-columns: 15% 25% 45% 15%;
    grid-template-columns: 15% 25% 45% 15%;
  }
}

@media screen and (max-width: 560px) {
  * {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  body {
    -ms-grid-rows: calc(var(--vh, 1vh) * 10) calc(var(--vh, 1vh) * 80) calc(var(--vh, 1vh) * 10) calc( var(--vh, 1vh) * 90) calc(var(--vh, 1vh) * 10);
        grid-template-rows: calc(var(--vh, 1vh) * 10) calc(var(--vh, 1vh) * 80) calc(var(--vh, 1vh) * 10) calc( var(--vh, 1vh) * 90) calc(var(--vh, 1vh) * 10);
        grid-template-areas: "nav nav nav nav nav nav nav nav nav nav" "calendario calendario calendario calendario calendario calendario calendario calendario calendario calendario" "opciones opciones opciones opciones opciones opciones opciones opciones opciones opciones" "noticias noticias noticias noticias noticias noticias noticias noticias noticias noticias" "footer footer footer footer footer footer footer footer footer footer";
  }
  .contenedorNoticiass {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-area: footer;
  }
  .contenedorCalendario {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-area: calendario;
  }
  .contenedorCalendario #calendario h2 {
    font-size: 20px;
  }
  .contenedorCalendario #calendario .fc-toolbar, .contenedorCalendario #calendario .fc-header-toolbar {
    margin: 0;
  }
  .contenedorHeader {
    display: none;
  }
  .phone-header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-area: nav;
    background: #0191F6;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 15% 70% 15%;
        grid-template-columns: 15% 70% 15%;
    max-width: 100vw;
  }
  .phone-header .menu-item {
    height: 10vh;
  }
  .phone-header #logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .phone-header #logo img {
    margin: 0 1em;
    height: 100%;
  }
  .phone-header .redes-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .phone-header .redes-container img {
    height: 2.7em;
    width: 2.7em;
    margin: 0 .5em;
  }
  .phone-header #logoJuventud {
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .phone-header #logoJuventud img {
    height: 100%;
  }
  .phone-footer {
    z-index: 3;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-area: opciones;
    display: initial;
    background: #0191F6;
  }
  .phone-footer .categorias {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .phone-footer .categorias div {
    border-top: .5rem solid;
    position: relative;
    width: 100%;
    height: 10vh;
    -webkit-transition: .2s;
    transition: .2s;
  }
  .phone-footer .categorias div a {
    display: inline;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: white;
  }
  .phone-footer .categorias div:nth-child(1) {
    border-top-color: #0166AC;
  }
  .phone-footer .categorias div:nth-child(2) {
    border-top-color: #45B2B2;
  }
  .phone-footer .categorias div:nth-child(3) {
    border-top-color: #FFBD39;
  }
  .phone-footer .categorias div:nth-child(4) {
    border-top-color: #FF693B;
  }
  .phone-footer .categorias div:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}

.iconoDescargar {
  width: 2em;
}

.modal-body {
  color: black !important;
}

.modal-body h1 {
  color: black !important;
}
/*# sourceMappingURL=estilosBase.css.map */