
/* imports */

/* UNISPACE -> Logo */

@import url(//db.onlinewebfonts.com/c/d89ec8e76722c50d387957f75f10b3dd?family=UnispaceW00-Bold);


*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-grid-container{
    /* width: 100vw; */
    height: 10vh;
    display: grid;
    grid-template-columns: 30% 20% 40% 10%;
    background: #0191F6;
    /* gap: 1em; */

    margin-bottom: 2em;
}

.menu-item{
    height: 10vh;
}

.inclusion-calendario{
    height: 80vh;
    margin: auto;
}


#logo{
    display: flex;
    align-items: center;
}

#logo img{
    margin: 0 1em;
    height: 100%;
}

#logo span {
    font-family: "UnispaceW00-Bold";
    color: white;
    font-size: 18px;

}

.redes-grid-container{
    /* width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr); */

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.redes-grid-container img{
    height: 2.7em;
    width: 2.7em;

    margin: 0 .5em;
}

#logoJuventud{
   text-align: right;
}

#logoJuventud img{
    /* width: 100%; */
    height: 100%;    
}

.menu-grid-container a{
    text-decoration: none;
    color: white;
    
}

#categorias{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#categorias div{

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#categorias div a {
    display: block; width: 100%; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#categorias div:nth-of-type(1){
    border-bottom: .5em solid #0166AC;
}
#categorias div:nth-of-type(2){
    border-bottom: .5em solid #45B2B2;
}
#categorias div:nth-of-type(3){
    border-bottom: .5em solid #FFBD39 ;
}
#categorias div:nth-of-type(4){
    border-bottom: .5em solid #FF693B;
}


#categorias div:hover{

    background: rgba(255, 255,255, .2);

}

@media screen and (max-width: 760px){
    .menu-grid-container{
        /* background: red; */

        font-size: 12px;
    }

    #logo img{
        margin: 0 1em;
        height: 85%;
    }
}

@media screen and (max-width: 665px){
    .menu-grid-container{
        /* background: red; */

        font-size: 12px;
    }

    #logo img{
        margin: 0 1em;
        height: 85%;
    }

    .menu-grid-container{
        display: grid;
        grid-template-columns: 10% 40% 40% 10%;
    
    }

    #logo-nombre{
        display: none;
    }
    

}


@media screen and (max-width: 465px){
    
    .menu-item{
        height: 6vh;
    }

    .menu-grid-container{
        /* width: 100vw; */
        height: 6vh;
    }

}

@media screen and (max-width: 380px){
    
    *{
        font-size: 8px;
    }

}