@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
    top: 0;
    margin: 0;
}

body{
    background: linear-gradient(180deg, #0166AC 0%, #0191F6 48.75%, #4DB2F9 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100vw;
    height: 10vh;
    position: relative;
}

header div{
    color: #ffffff;
    font-size: 16pt;
}

#saludo{
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}

#cerrar{

    display: flex;
    width: 100%;
    justify-content: flex-end;

    a{
        text-decoration: none;
        color: white;
        margin: 1rem 1rem;
    }
}   

main{
    display: grid;
    grid-template-columns: 60vw 40vw;
    grid-template-rows: 90vh;
    justify-items: center;
    align-items: center;
}

.acciones{
    width: 90%;
    height: 95%;
    background: white;
    border-radius: 30pt;
    
    display: grid;

    grid-template-rows: 20% 80%;
    grid-template-columns: 100%;

    color: black;

    .main-actions{
        text-align: center;

        #acciones-titulo{
            margin-top: .5rem;
        }

        .botones{
            margin: 1rem 0;
            display: flex;
            

            justify-content: space-around;

            button{

                height: 100%;
                width: 40%;
                box-sizing: border-box;

                background-color:  #4CAF50;;
                border-radius: 30pt;
                padding: .5rem 1rem;

                border-style: none;

                -webkit-transition-duration: 0.4s;
                transition-duration: 0.4s;
                color: white;

                border: 2pt solid #4CAF50;

                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

            }
            button:hover{
                color: black;
                background: white;
                border: 2pt solid #4CAF50;
                cursor: pointer;
                
            }
        }
    }

    .publicacion{
        display: grid;
        grid-template-rows: 1rem repeat(2, 1fr);
        
        .titulo{
            text-align: center;
        }

        .publicacion-noticias{
            padding: 1rem;
            position: relative;   
            
            .autor{
                color: blue;
            }

            .categoria{
                color: red;
            }

            .contenido{
                color: black;
            }

            .datos-publicacion{
                padding: 1rem;
            }

            .datos-publicacion>p{
                text-align: justify;
                a{
                    float: right;
                }
            }
        }

        .publicacion-eventos{
            @extend .publicacion-noticias;
        }

    }
       
}

.revision{
    width: 90%;
    height: 95%;
    background: white;
    border-radius: 30pt;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

