$gray1: #333;
$gray2: #4f4f4f;
$gray3: #828282;
$gray4: #bdbdbd;
$gray5: #e0e0e0;
$gray6: #f2f2f2;

$darkPrimaryColor: #E64F21;
$primaryColor: #FF5825;
$lightPrimaryColor: #FF693B;

$darkSecondaryColor: #0166AC;
$secondaryColor: #0191F6;
$lightSecondaryColor: #4DB2F9;

$darkComplementaryColor: #CBC144;
$complementaryColor: #FEF155;
$lightComplementrayColor: #FEF588;

$religionBaseColor: $darkSecondaryColor;
$deporteBaseColor: #45B2B2;
$cienciaBaseColor: #FFBD39;
$arteBaseColor: $lightPrimaryColor;